body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.App{
    max-width: 1055px;
    display: grid;
    margin: 0 auto;
    height: 100vh;
    grid-template-rows: 0fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
}